body {
	background-image: url(../img/bg_splash.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
}

table {
	table-layout: fixed;
	width: 100%;
}

	table td {
		width: 25%; 
	}


a {
	padding: 13px;
	color: black;
}

	a:hover {
		color: #e74c3c;
	}

img {
	float: left;
	padding-right: 15px;
}

dt {
	font-size: 1.7em;
	font-weight: normal;
	padding: 10px;
}

dd {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	max-width: 768px;
	margin-bottom: 1.3em;
	margin: 0 auto;
}

	dd.closed {
		display: none;
	}

h1 {
	font-size: 2.6em;
}

p a {
	padding: 0px;
	color: #27ae60;
}

	p a:hover {
		color: black;
	}

.glyphicon {
	font-size: 12px;
	color: #27ae60;
}

.row {
	border-spacing: 30px 0px;
	margin-left: -30px;
	margin-right: -30px;
}

p.list-group-item-text ~ ul, 
h4.list-group-item-heading ~ ul {
	margin-top: 20px;
}

	.list-group-item:hover {
		background-color: #F5F5F5;
	}

.caret {
	color: #e74c3c;
	margin-bottom: 3px;
	margin-left: 6px;
	border-width: 5px 5px 0 5px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.page-header, dt {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

.panel {
	-webkit-box-shadow: none !important;
     box-shadow: none !important;
}

.panel-body {
	margin-bottom: -15px;
}

.panel-heading {
	background-color: white !important;
}

.pntr {
	cursor: pointer;
}

	.pntr:hover {
		background-color: white;
	}


.toggle {
	color: #f1c40f;
	border-width: 5px 5px 0 5px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/* Media queries */

@media (min-width: 768px) {
	.col-sm-4 {
		border-radius: 4px;
		display: table-cell;
		float: none;
	}
}

@media (max-width: 768px) {
	body {
		background: none;
	}

	.row {
		margin: 0;
	}

	.col-sm-4 {
		display: block;
	}
}